{% extends "dashboard/layout/layout.html" %}
{% block content %}
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                            <div class="col-lg-4 col-md-6">
                                <div class="card-box">
                                    <div class="dropdown pull-right">
                                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{{ url_for('dashboard.view_patients') }}">View Patient List</a></li>
                                            <li><a href="{{ url_for('dashboard.view_patients') }}">View Patient Activities</a></li>
                                        </ul>
                                    </div>
                                    <input type="hidden" value="{{hospital.hospital_id}}" id="hospital_id">
                                    <input type="hidden" value="{{url_for('web.notifications')}}" id="notification_url">
                                    <h4 class="header-title m-t-0 m-b-30">Patients</h4>

                                    <div class="widget-chart-1">
                                        <div class="widget-chart-box-1">
                                            <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#f05050 "
                                               data-bgColor="#F9B9B9" value=" {{ hospital.patient_count }} "
                                               data-skin="tron" data-angleOffset="180" data-readOnly=true
                                               data-thickness=".15"/>
                                        </div>

                                        <div class="widget-detail-1">
                                            <h2 class="p-t-10 m-b-0"> {{ hospital.patient_count }} </h2>
                                            <p class="text-muted">Patients</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="card-box">
                                    <div class="dropdown pull-right">
                                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{{ url_for('dashboard.generate_log') }}?for=service&time=today">View Today's Log</a></li>
                                        </ul>
                                    </div>

                                    <h4 class="header-title m-t-0 m-b-30">Daily Service Usage Report</h4>

                                    <div class="widget-box-2">
                                        <div class="widget-detail-2">
                                            <span class="badge badge-success pull-left m-t-20">0% <i class="zmdi zmdi-trending-up"></i> </span>
                                            <h2 class="m-b-0"> {{ hospital.patient_count }} </h2>
                                            <p class="text-muted m-b-25">Service hits today</p>
                                        </div>
                                        <div class="progress progress-bar-success-alt progress-sm m-b-0">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                                 aria-valuenow="{{ hospital.patient_count }}" aria-valuemin="0" aria-valuemax="100"
                                                 style="width: {{ hospital.patient_count }}%;">
                                                <span class="sr-only">{{ hospital.patient_count }}% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end col -->
                            <div class="col-lg-4 col-md-6">
                                <div class="card-box">
                                    <div class="dropdown pull-right">
                                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{{ url_for('dashboard.generate_log') }}?for=bot_uptime&time=today">View Today's Report</a></li>
                                        </ul>
                                    </div>

                                    <h4 class="header-title m-t-0 m-b-30">Bot Uptime Report</h4>

                                    <div class="widget-chart-1">
                                        <div class="widget-chart-box-1">
                                            <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#ffbd4a"
                                               data-bgColor="#FFE6BA" value="99"
                                               data-skin="tron" data-angleOffset="180" data-readOnly=true
                                               data-thickness=".15"/>
                                        </div>
                                        <div class="widget-detail-1">
                                            <h2 class="p-t-10 m-b-0"> 99% </h2>
                                            <p class="text-muted">Uptime</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end col -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-box">
                                    <div class="dropdown pull-right">
                                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{{ url_for('dashboard.graphs') }}?show=All&displayOn=NewPage">View All Graphs</a></li>
                                        </ul>
                                    </div>
                                    <h4 class="header-title m-t-0">Graphical Statistical Representation</h4>
                                    <div id="morris-bar-example" style="height: 280px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% if patient_list %}
                              {% for patients in patient_list %}
                            <div class="col-lg-3 col-md-6">
{#                                @Todo: Change this to active users.#}
                                <div class="card-box widget-user">
                                    <div>
                                        <img src="{{ patients.image }}" class="img-responsive img-circle" alt="user">
                                        <div class="wid-u-info">
                                            <h4 class="m-t-0 m-b-5 font-600">{{ patients.first_name }} {{ patients.last_name }}</h4>
                                            <p class="text-muted m-b-5 font-13">{{ patients.email }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             {% endfor %}
                                {% else %}
                                 <div class="alert alert-info" role="alert">
                                     Your active patients would show up here.</div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-box">
                                    <div class="dropdown pull-right">
                                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">New Report</a></li>
                                            <li><a href="#">View Full Research Reports</a></li>
                                            <li><a href="#">Configure</a></li>
                                        </ul>
                                    </div>

                        			<h4 class="header-title m-t-0 m-b-30">Research Reports</h4>

                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Research Name</th>
                                                <th>Start Date</th>
                                                <th>Due Date</th>
                                                <th>Status</th>
                                                <th>View</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Adminto Admin v1</td>
                                                    <td>01/01/2016</td>
                                                    <td>26/04/2016</td>
                                                    <td><span class="label label-danger">Released</span></td>
                                                    <td><a href="#">View report</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div><!-- end col -->

                        </div>
                    </div>
                </div>
                <footer class="footer text-right">
                    2017 © Norman
                </footer>

            </div>

{% endblock %}
