{% extends 'landingpage/layouts/master.html' %}

{% block title %}Pricing{% endblock %}
{% block header_class %}nav {% endblock %}


{% block content %}
<div class="content-wrapper oh">

      <section class="page-title bottom-divider text-center">
        <div class="container">

          <div class="page-title__holder">
            <div class="page-title__inner">
              <div class="page-title__holder">
                <h1 class="page-title__title">Pricing Plans</h1>
                <p class="page-title__subtitle lead">Here are the best features that makes Norman the most powerful, fast  and user-friendly platform.</p>
              </div>
            </div>
          </div>

        </div>
      </section> <!-- end page title -->

      <!-- Pricing Tables -->
      <section class="section-wrap pt-70 bg-light bottom-divider">
        <div class="container">

          <div class="row flex-parent flex-md-collapse no-gutters mt-90">

            <div class="pricing">
              <div class="pricing__price-box">
                <h3 class="pricing__title">Demo</h3>
                <span class="pricing__currency">N</span>
                <span class="pricing__price" data-year-price="0" data-month-price="0">0</span>
              </div>
              <p class="pricing__text">
                 for 2 weeks
              </p>
              <div class="pricing__button">
                <a href="#" class="btn btn--lg btn--color rounded"><span>Get Started</span></a>
              </div>
              <div class="pricing__features">
                <ul>
                    <li>2 Free Services</li>
                    <li>2 Paid Services</li>
                    <li>Data Analysis For 1 patient</li>
                    <li>Data Monitoring For 1 patients</li>
                    <li>24x7 Support</li>
                </ul>
              </div>
            </div>


            <div class="pricing pricing--best">
              <div class="pricing__price-box">
                <h3 class="pricing__title">Professional</h3>
                <span class="pricing__currency">N</span>
                <span class="pricing__price" data-year-price="129.00" data-month-price="10000">10000</span>
              </div>
              <p class="pricing__text">
                 Monthly Subscription
              </p>
              <div class="pricing__button">
                <a href="#" class="btn btn--lg btn--color rounded"><span>Get Started</span></a>
              </div>
              <div class="pricing__features">
                <ul>
                  <li>All Free Services</li>
                  <li>All Paid Services</li>
                  <li>Data Analysis For all patients</li>
                  <li>Data Monitoring For all patients</li>
                  <li>24x7 Support</li>
                </ul>
              </div>
            </div>


            <div class="pricing">
              <div class="pricing__price-box">
                <h3 class="pricing__title">Starter</h3>
                <span class="pricing__currency">N</span>
                <span class="pricing__price" data-year-price="245.00" data-month-price="5000">5000</span>
              </div>
              <p class="pricing__text">
                 Monthly Subscription
              </p>
              <div class="pricing__button">
                <a href="#" class="btn btn--lg btn--color rounded"><span>Get Started</span></a>
              </div>
              <div class="pricing__features">
                <ul>
                  <li>5 Free Services</li>
                  <li>5 Paid Services</li>
                  <li>Data Analysis For 5 patients</li>
                  <li>Data Monitoring For all patients</li>
                  <li>24x7 Support</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section> <!-- end pricing tables -->
{% endblock %}