{% extends 'landingpage/layouts/master.html' %}

{% block title %}Services{% endblock %}
{% block header_class %}nav {% endblock %}


{% block content %}
 <div class="content-wrapper oh">

      <section class="page-title bottom-divider text-center">
        <div class="container">

          <div class="page-title__holder">
            <div class="page-title__inner">
              <div class="page-title__holder">
                <h1 class="page-title__title">Services</h1>
                <p class="page-title__subtitle lead">Here are the service Norman Platform offers you.</p>
              </div>
            </div>
          </div>

        </div>
      </section>


       <section class="section-wrap pt-70 pb-130 bg-light">
        <div class="container">
          <div class="row row-60 items-grid">


            <div class="col-md-4 col-xs-6 col-xxs-12">
              <a href="#" class="box-shadow">
                <div class="feature-1__icon-holder feature-1__icon-holder--pink text-center">
                  <i class="ui-book feature-1__icon"></i>
                </div>
                <div class="feature-1__base">
                  <h3 class="feature-1__title">Appointments/Scheduling</h3>
                  <p class="feature-1__paragraph">
                  This service allows patients to fix appointment at hospital.
                  </p>
                </div>
              </a>
            </div>

            <div class="col-md-4 col-xs-6 col-xxs-12">
              <a href="#" class="box-shadow">
                <div class="feature-1__icon-holder feature-1__icon-holder--blue text-center">
                  <i class="ui-designer-cup feature-1__icon"></i>
                </div>
                <div class="feature-1__base">
                  <h3 class="feature-1__title">Real-Time Messaging</h3>
                  <p class="feature-1__paragraph">
                        This service provides a real time messaging interface between patient's social media platform and hospital.
                  </p>
                </div>
              </a>
            </div>

            <div class="col-md-4 col-xs-6 col-xxs-12">
              <a href="#" class="box-shadow">
                <div class="feature-1__icon-holder feature-1__icon-holder--pink text-center">
                  <i class="ui-book feature-1__icon"></i>
                </div>
                <div class="feature-1__base">
                  <h3 class="feature-1__title">Inventory</h3>
                  <p class="feature-1__paragraph">
                      This services allows hospital keep track of patients registered under them.
                  </p><br><br>
                </div>
              </a>
            </div>


            <div class="col-md-4 col-xs-6 col-xxs-12">
              <a href="#" class="box-shadow">
                <div class="feature-1__icon-holder feature-1__icon-holder--pink text-center">
                  <i class="ui-book feature-1__icon"></i>
                </div>
                <div class="feature-1__base">
                  <h3 class="feature-1__title">Form Filling</h3>
                  <p class="feature-1__paragraph">
                  With Norman bot, bye to boring forms as the bot provides you a more interactive and fun-filled platform of filling forms.
                  </p>
                </div>
              </a>
            </div>

            <div class="col-md-4 col-xs-6 col-xxs-12">
              <a href="#" class="box-shadow">
                <div class="feature-1__icon-holder feature-1__icon-holder--blue text-center">
                  <i class="ui-book feature-1__icon"></i>
                </div>
                <div class="feature-1__base">
                  <h3 class="feature-1__title">Registration</h3>
                  <p class="feature-1__paragraph">
                      You can register under an hospital via Norman bot. All you need do is select your location and the hospital you want to register under.
                  </p>
                </div>
              </a>
            </div>

            <div class="col-md-4 col-xs-6 col-xxs-12">
              <a href="#" class="box-shadow">
                <div class="feature-1__icon-holder feature-1__icon-holder--blue text-center">
                  <i class="ui-book feature-1__icon"></i>
                </div>
                <div class="feature-1__base">
                  <h3 class="feature-1__title">Location</h3>
                  <p class="feature-1__paragraph">
                  Norman helps track your location and also helps you in locating health centers close to you, the direction to your hospital and health centers in other cities.
                  </p>
                </div>
              </a>
            </div>

            <div class="col-md-4 col-xs-6 col-xxs-12">
              <a href="#" class="box-shadow">
                <div class="feature-1__icon-holder feature-1__icon-holder--pink text-center">
                  <i class="ui-book feature-1__icon"></i>
                </div>
                <div class="feature-1__base">
                  <h3 class="feature-1__title">Drug Detailing</h3>
                  <p class="feature-1__paragraph">
Get to know about the drug you want to use before taking them through Norman bot.
                  </p>
                </div>
              </a>
            </div>



            <div class="col-md-4 col-xs-6 col-xxs-12">
              <a href="#" class="box-shadow">
                <div class="feature-1__icon-holder feature-1__icon-holder--blue text-center">
                  <i class="ui-designer-cup feature-1__icon"></i>
                </div>
                <div class="feature-1__base">
                  <h3 class="feature-1__title">Reminder</h3>
                  <p class="feature-1__paragraph">
                            This service handles all reminder related events.
                          It tries to unburden your patient from excessively remembering some things by providing the following features:

                        <ul class="specs-list">
                                <li>Drug use Reminder</li>
                                <li>Appointment Reminders</li>
                                <li>User Specific Reminders</li>
                            </ul>
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

{% endblock %}