{% extends 'landingpage/layouts/master.html' %}

{% block title %}Hospital Name{% endblock %}
{% block header_class %}nav {% endblock %}


{% block content %}
 <div class="content-wrapper oh">

      <section class="page-title bg-blue bottom-divider text-center">
        <div class="container">

          <div class="page-title__holder">
            <div class="page-title__inner">
              <div class="page-title__holder">
                <h1 class="page-title__title white">Hospital Name</h1>
                <p class="page-title__subtitle white lead">{Hospital Location}</p>
              </div>
            </div>
          </div>

        </div>
      </section>

    <section class="section-wrap pt-70 pb-120 bg-light">
        <div class="container">
          <div class="row items-grid">

            <div class="col-md-3">
              <a href="#" class="article box-shadow">
                <i class="ui-computer-screen-1 article__icon"></i>
                <h3 class="article__title">Email Here</h3>
              </a>
            </div>
              <div class="col-md-3">
              <a href="#" class="article box-shadow">
                <i class="ui-computer-screen-1 article__icon"></i>
                <h3 class="article__title">Address here</h3>
              </a>
            </div>
              <div class="col-md-3">
              <a href="#" class="article box-shadow">
                <i class="ui-computer-screen-1 article__icon"></i>
                <h3 class="article__title">Services</h3>
              </a>
            </div>
              <div class="col-md-3">
              <a href="#" class="article box-shadow">
                <i class="ui-computer-screen-1 article__icon"></i>
                <h3 class="article__title">Other data</h3>
              </a>
            </div>

          </div>
        </div>
      </section>

{% endblock %}