{% extends 'landingpage/layouts/master.html' %}

{% block title %}Service{% endblock %}
{% block header_class %}nav {% endblock %}


{% block content %}
 <div class="content-wrapper oh">

      <section class="page-title bg-blue bottom-divider text-center">
        <div class="container">

          <div class="page-title__holder">
            <div class="page-title__inner">
              <div class="page-title__holder">
                <h1 class="page-title__title white">Service Name</h1>
                <p class="page-title__subtitle white lead">Norman Platform offers you {Service Name} service.</p>
              </div>
            </div>
          </div>

        </div>
      </section>


       <section class="section-wrap pt-70 pb-130 bg-light">
        <div class="container">
          <div class="row row-60 items-grid">
              <div class="col-md-12">
                  <h2 class="intro__title text-center">
                    { Service_description }
                  </h2>
              </div>
          </div>
        </div>
      </section>

{% endblock %}